In [26]:
date = int(input("Ent date"))
month = int(input("Ent month"))
year =int(input("Ent year"))

if (date>31 or date<1):
    print("Invalid date")
if (month>12 or month<1):
    print("Invalid month")
if(date >=1 and date<=29 and month!=2):
    date = date+1
if(date ==31 and ((month==1)or (month==3) or (month==5) or (month==7) or (month==8) or (month==10) or (month==12))):
    if(month ==12):
        month =1
        date =1
        year = year+1
    else:
        date =1
        month =month+1
elif(date ==30 and ((month==4)or(month==6)or (month==9) or (month==11))):
    date = 1
    month =month+1
else:
    if(month ==2):
        if(year%4==0 and(year%400==0 or year%100!=0)):
            if(date>29):
                print("Invalid date for leap year")
            else:
                if(date ==29):
                    month = month+1
                    date =1
                else:
                    date = date+1
                        
        elif(date>28):
            print("Invalid date for none leap year")
        else:
            if(date==28):
                month =month +1
                date =1
            else:
                date =date+1
print(f"the next date : {date}:{month}:{year}")

Ent date28
Ent month2
Ent year2024
the next date : 29:2:2024

In [36]:
for i in range (1,11):#index starts from 0 hence 11 wont count
    print(i)
for i in range (1,11,2):#odd
    print(i)
for i in range (0,11,2):#even 
    print(i)
for i in range (0,25,5):#%by 5
    print(i)
for i in range (10,0,-1):#reverse
    print(i)

1
2
3
4
5
6
7
8
9
10
1
3
5
7
9
0
2
4
6
8
10
0
5
10
15
20
10
9
8
7
6
5
4
3
2
1

In [50]:
#user input - armstrong
num = int(input("Ent number: "))
l = len(str(num))
l= int(l)
sum=0
temp = num

while(temp>0):
    r= temp%10
    sum = sum+ r**l
   # print(sum)
    temp=temp//10# converts into float that's why //

if sum == num:
    print("arstrong")
else:
    print("not")

Ent number: 153
arstrong

In [53]:
 # count of ams trom 1 to 10000
c = 0
for i in range (1 , 10001):
    sum =0
    temp =i
    l = len(str(i))
    l = int(l)
    
    while(temp>0):
        r =temp%10
        sum = sum + r**l
        temp = temp//10
    if sum==i:
        c=c+1

print(c)

16

In [64]:
n = int(input("Ent num: "))
l = len(str(n))
l = int(l)
sum =0
temp = n
while(l>0):
    r = temp%10
    sum = r*(10**(l-1))+sum
    temp = temp//10
    l= l-1
if sum==n:
    print("pelindrom")
else:
    print("not")
print(sum)#reversed

Ent num: 123
not
321

In [68]:
#replace 0 by 9
for i in range(1,6):
    print(i)
else:
    print("else")
    print(i)#last updated val

print(range(1,6))

1
2
3
4
5
else
5
range(1, 6)

In [70]:
for i in 'vishal':
    print(i)

v
i
s
h
a
l

In [72]:
n=6
for i in range(1,6):
    if n%2==0:
        n=n+3
    elif n%3==0:
        n=n+1
    if n%4==0:
        n+=2
    if n%5 ==0:
        n+=3
    else:
        n+=4
       
    
print(n)

33